{
//  "extends":"eslint:recommended",
  "extends":"eslint:all",
  "parser": "babel-eslint",
  "rules":{
    "linebreak-style":0,
    "padded-blocks":0,
    "quote-props":0,
    "func-style":0,
    "one-var":0
  },
  "env": {
    "browser": true,
    "amd": true,
    "node": true
  }
}