{
  "extends":"eslint:all",
  "parser": "babel-eslint",
  "rules":{
    "linebreak-style":0,
    "padded-blocks":0,
    "quote-props":0,
    "func-style":0,
    "max-len":0,
    "multiline-ternary":0,
    "no-ternary":0,
    "arrow-parens":0,
    "one-var":0,
    "id-length":0,
    "no-shadow":0
  },
  "env": {
    "browser": true,
    "amd": true,
    "node": true
  }
}